---
import Layout from "@layouts/Layout.astro";
import { BackgroundImage } from "astro-imagetools/components";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import { t } from "i18next";
import type {
  PageMetaTag,
  OpenGraphMetaTag,
  TwitterMetaTag,
} from "@customTypes/seo/types";
import type { CollectionEntry } from "astro:content";
type Props = {
  page: PageMetaTag;
  openGraph: OpenGraphMetaTag;
  twitter: TwitterMetaTag;
  bannerImage: string;
  entry: CollectionEntry<any>;
  articleCategory: string; // if it is news or whatever
};
const { page, openGraph, twitter, bannerImage, entry, articleCategory } =
  Astro.props as Props;
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <BackgroundImage src={bannerImage}>
    <div class="h-[200px]"></div>
  </BackgroundImage>
  <section class="container p-4 w-full mx-auto md:w-11/12 lg:w-10/12">
    <InnerSubNav name={articleCategory} />

    <main>
      <div class="my-8 text-center">
        <h2 class="text-[1.5rem] text-text-primary">
          {entry.data.title}
        </h2>
        <div class="text-[0.75rem] text-[#777]">
          {t("common:publishedOn")}: {entry.data.pubDate}
        </div>
      </div>
      <slot />
    </main>
  </section>
</Layout>
