---
import i18next, { t, changeLanguage } from "i18next";
import { utilGetCurrentLanguage } from "@helpers/commonUtils";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data
import NavigationJson from "@data/navigation.json";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";

changeLanguage("cn");

let pageJson = "page-contact-sublink-contact-information";
const page: PageMetaTag = {
    title: t(pageJson + ":pageTitle"),
    description: t(pageJson + ":pageDescription"),
    author: t(pageJson + ":pageAuthor"),
    keywords: t(pageJson + ":pageKeywords"),
};
const openGraph: OpenGraphMetaTag = {
    title: t(pageJson + ":openGraphTitle"),
    type: t(pageJson + ":openGraphType"),
    image: t(pageJson + ":openGraphImage"),
    description: t(pageJson + ":openGraphDescription"),
};
const twitter: TwitterMetaTag = {
    cardType: t(pageJson + ":twitterCardType"),
    title: t(pageJson + ":twitterTitle"),
    description: t(pageJson + ":twitterDescription"),
    image: t(pageJson + ":twitterImage"),
};
const bannerImageSrc = t(pageJson + ":bannerImageSrc");
const bannerHeight = "200px";
const trueImage = t(pageJson + ":trueImage") as unknown as boolean;
const trueImageStyle = t(pageJson + ":trueImageStyle");
type Subnav = {
    label: string;
    href: string;
    slug: string;
};
var subnavs = NavigationJson.links
    .filter((link) => link.name === "contact")[0]
    .children.map((child: string) => {
    return {
        label: t(`navigation:navbar.contact.sublinks.${child}.name`),
        href: `${utilGetCurrentLanguage(Astro.url.toString())}/contact/${t(`navigation:navbar.contact.sublinks.${child}.slug`)}/`,
        slug: t(`navigation:navbar.contact.sublinks.${child}.slug`),
    };
}) as Subnav[];
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav subnavs={subnavs} />

    <div class="mb-6">
      <BreadCrumbs label={t(pageJson + ":name")} />
    </div>
    <main>
      <div class="block lg:flex lg:flex-row lg:flex-wrap">
        <div class="w-full text-text-primary lg:w-6/12">
          <h3 class="text-[1.5rem] mb-[0.625rem]">
            {t(pageJson + ":contents.header")}
          </h3>
          <div class="mb-8 text-[0.875rem] leading-[1.75rem]">
            {
              Array.from({ length: 5 }).map((_: any, i: number) => {
                return <div>{t(pageJson + ":contents.text" + (1 + i))}</div>;
              })
            }
          </div>
        </div>
        <div class="w-full lg:w-6/12">
          <div class="max-w-[450px] mx-auto rounded-[0.75rem] overflow-hidden">
            <Img
              src={t(pageJson + ":contents.image1")}
              alt="person using a computer"
            />
          </div>
        </div>
      </div>

      <div class="mb-16 flex justify-center">
        <BackBtn />
      </div>
    </main>
  </div>
</Layout>
