---
import astroI18next, { t, changeLanguage } from "i18next";
import { utilGetCurrentLanguage } from "@helpers/commonUtils";
import { getCollection } from "astro:content";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data
import NavigationJson from "@data/navigation.json";
import ProductsJson from "@data/pages/products.json";
import ProductCategories from "@data/product-categories.json";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";
import type { CollectionEntry } from "astro:content";

changeLanguage("en");

type Props = {
    category: {
        slug: string;
        name: string;
    };
    products: {
        slug: string;
        name: string;
        category: string;
    }[];
};
const { category, products } = Astro.props as Props;
var pageJson = `products:contents.type-16`; //TEMPORARY
export async function getStaticPaths() {
    let uniqueCategories = [
        ...new Set(ProductsJson.list.map((product) => product.category)),
    ];
    //a unique list of categories
    let productsByCategory = ProductCategories.refs.map((category: string, index: number) => {
        return {
            category: {
                slug: t(`product-categories:${category}.slug`),
                name: t(`product-categories:${category}.name`),
            },
            products: ProductsJson.list.filter((product: any) => {
                return product.category === t(`product-categories:${category}.slug`);
            }),
        };
    });
    return productsByCategory.map((el) => {
        return {
            params: {
                category: el.category.slug,
            },
            props: {
                category: el.category,
                products: el.products,
            },
        };
    });
}
const page: PageMetaTag = {
    title: t(pageJson + ".pageTitle"),
    description: t(pageJson + ".pageDescription"),
    author: t(pageJson + ".pageAuthor"),
    keywords: t(pageJson + ".pageKeywords"),
};
const openGraph: OpenGraphMetaTag = {
    title: t(pageJson + ".openGraphTitle"),
    type: t(pageJson + ".openGraphType"),
    image: t(pageJson + ".openGraphImage"),
    description: t(pageJson + ".openGraphDescription"),
};
const twitter: TwitterMetaTag = {
    cardType: t(pageJson + ".twitterCardType"),
    title: t(pageJson + ".twitterTitle"),
    description: t(pageJson + ".twitterDescription"),
    image: t(pageJson + ".twitterImage"),
};
const bannerImageSrc = t(pageJson + ".bannerImageSrc");
const bannerHeight = "200px";
const trueImage = false;
const trueImageStyle = "";
type Subnav = {
    label: string;
    href: string;
    slug: string;
};
var subnavs = NavigationJson.links
    .filter((link) => link.name === "products")[0]
    .children.map((child: string) => {
    return {
        label: t(`navigation:navbar.products.sublinks.${child}.name`),
        href: `${utilGetCurrentLanguage(Astro.url.toString())}/products/${t(`navigation:navbar.products.sublinks.${child}.slug`)}/`,
        slug: t(`navigation:navbar.products.sublinks.${child}.slug`),
    };
}) as Subnav[];
let currNewsCategory: string = category.name; //current name of category
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav subnavs={subnavs} />
    <div class="mb-6">
      <BreadCrumbs label={currNewsCategory} />
    </div>
    <main class="">
      <div class="flex flex-row flex-wrap">
        {
          products.map((product) => {
            return (
              <a
                class="w-full md:w-6/12 scale-[0.95] border-[1px] border-solid border-[#eee] transition shadow-lg hover:scale-[1] lg:w-4/12 h-fit"
                href={`${utilGetCurrentLanguage(
                  Astro.url.toString()
                )}/products/${product.category}/${product.slug}/`}
              >
                <div class="block p-4">
                  <Img
                    src={t(
                      `products:contents.${product.slug}.contents.section1.imageGallery.images.image1.src`
                    )}
                    alt={t(
                      `products:contents.${product.slug}.contents.section1.imageGallery.images.image1.alt`
                    )}
                  />
                </div>
                <div class="py-8">
                  <div class="text-[1.25rem] text-[#006699] py-1 px-4 font-semibold border-2 border-solid border-[#006699] rounded-[0.75rem] w-fit mx-auto">
                    {t(`products:contents.${product.slug}.name`)}
                  </div>
                </div>
              </a>
            );
          })
        }
      </div>
    </main>
    <div class="mb-16 flex justify-center">
      <BackBtn />
    </div>
  </div>
</Layout>
