---
import Layout from "@layouts/Layout.astro";
import { BackgroundImage } from "astro-imagetools/components";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
const { page, openGraph, twitter, bannerImage } = Astro.props;
const subnavs: { label: string; href: string }[] = [
  {
    label: "Industry Information",
    href: "news/industry-information",
  },
  {
    label: "Company Announcements",
    href: "news/company-announcements",
  },
  {
    label: "New Product Release",
    href: "news/new-product-release",
  },
  {
    label: "Videos",
    href: "news/videos",
  },
];
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <BackgroundImage src={bannerImage}>
    <div class="h-[200px]"></div>
  </BackgroundImage>
  <section class="container p-4 w-full mx-auto space-y-4 md:w-11/12 lg:w-10/12">
    <InnerSubNav subnavs={subnavs} />
    <slot />
  </section>
</Layout>
