---
import Layout from "@layouts/Layout.astro";
import { BackgroundImage } from "astro-imagetools/components";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import i18next, { t } from "i18next";
import newsRefs from "@data/news-categories.json";
const { page, openGraph, twitter, bannerImage } = Astro.props;

const subnavs: { label: string; href: string; slug: string }[] = [];

newsRefs.refs.map((ref) => {
  subnavs.push({
    label: t("news-categories:contents." + ref + ".name"),
    href: "/news/" + t("news-categories:contents." + ref + ".slug") + "/",
    slug: t("news-categories:contents." + ref + ".slug"),
  });
});
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <BackgroundImage src={bannerImage}>
    <div class="h-[200px]"></div>
  </BackgroundImage>
  <section class="container p-4 w-full mx-auto space-y-4 md:w-11/12 lg:w-10/12">
    <InnerSubNav subnavs={subnavs} />
    <slot />
  </section>
</Layout>
