---
import i18next, { t, changeLanguage } from "i18next";
import { utilGetCurrentLanguage } from "@helpers/commonUtils";
import { getCollection } from "astro:content";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data
import NavigationJson from "@data/navigation.json";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";
import type { CollectionEntry } from "astro:content";

changeLanguage("cn");

const currentEntry = Astro.props.entry.filter((categoryEntry: CollectionEntry<"news-categories">) => categoryEntry.data.lang === i18next.language)[0].data;
console.log(currentEntry);
export async function getStaticPaths() {
    const categoryEntries = await getCollection("news-categories");
    var groupedEntries: {
        categoryTitle: string;
        newsCategories: CollectionEntry<"news-categories">[];
    }[] = [];
    categoryEntries.forEach((entry) => {
        let categoryTitle = entry.data.title;
        let existingEntry = groupedEntries.find((groupedEntry) => groupedEntry.categoryTitle === categoryTitle);
        if (existingEntry) {
            existingEntry.newsCategories.push(entry);
        }
        else {
            groupedEntries.push({
                categoryTitle: categoryTitle,
                newsCategories: [entry],
            });
        }
    });
    return groupedEntries.map((groupedEntry) => ({
        params: {
            category: groupedEntry.categoryTitle,
        },
        props: {
            entry: groupedEntry.newsCategories,
        },
    }));
    // newsEntries.map((entry) => ({
    //   params: {
    //     category: entry.data.title,
    //   },
    //   props: { entry },
    // }));
}
const page: PageMetaTag = {
    title: currentEntry.pageTitle!,
    description: currentEntry.pageDescription!,
    author: currentEntry.pageAuthor!,
    keywords: currentEntry.pageKeywords!,
};
const openGraph: OpenGraphMetaTag = {
    title: currentEntry.ogTitle!,
    type: currentEntry.ogType!,
    image: currentEntry.ogImage!,
    description: currentEntry.ogDescription!,
};
const twitter: TwitterMetaTag = {
    cardType: currentEntry.twitterCardType!,
    title: currentEntry.twitterTitle!,
    description: currentEntry.twitterDescription!,
    image: currentEntry.twitterImage!,
};
const bannerImageSrc = currentEntry.bannerImage;
const bannerHeight = "200px";
const trueImage = false;
const trueImageStyle = "";
type Subnav = {
    label: string;
    href: string;
    slug: string;
};
var subnavs = NavigationJson.links
    .filter((link) => link.name === "news")[0]
    .children.map((child: string) => {
    return {
        label: t(`navigation:navbar.news.sublinks.${child}.name`),
        href: `${utilGetCurrentLanguage(Astro.url.toString())}/news/${t(`navigation:navbar.news.sublinks.${child}.slug`)}/`,
        slug: t(`navigation:navbar.news.sublinks.${child}.slug`),
    };
}) as Subnav[];
let entries = (await getCollection("news", ({ data }) => {
    return (data.lang === i18next.language && data.newsCategory === currentEntry.title);
})).sort((entry1, entry2) => {
    const date1 = new Date(entry1.data.pubDate) as any;
    const date2 = new Date(entry2.data.pubDate) as any;
    return date2 - date1;
});
let currNewsCategory: string = currentEntry.name;
console.log(currNewsCategory);
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav subnavs={subnavs} />
    <div class="mb-6">
      <BreadCrumbs label={currNewsCategory} />
    </div>
    <main class="flex flex-wrap">
      {
        () => {
          if (
            entries.length > 0 &&
            entries[0].data.newsCategory == "industry-information"
          ) {
            {
              return entries.map((entry) => (
                <div class="w-full md:w-6/12 p-2 ">
                  <a
                    href={Astro.url.pathname + entry.data.articleName + "/"}
                    class="  block hover:bg-[#f5f5f5] p-3 group"
                  >
                    <figure class="flex flex-row h-[120px]">
                      <div class="w-[200px] flex-shrink-0">
                        <Img
                          src={entry.data.image.src}
                          alt={entry.data.image.alt}
                        />
                      </div>
                      <figcaption class="flex-grow py-2 pl-[0.625rem] pr-2">
                        <h4 class="text-[15px] text-[#337ab7] pb-2 font-semibold group-hover:text-red-primary">
                          {entry.data.title}
                        </h4>
                        <p class="text-[0.75rem] text-[#999] line-clamp-2">
                          {entry.data.articleShortDescription}
                        </p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              ));
            }
          } else if (
            entries.length > 0 &&
            entries[0].data.newsCategory == "company-announcements"
          ) {
            return (
              <ul class="w-full">
                {entries.map((entry) => {
                  return (
                    <li class=" border-b-[1px] border-dotted border-[#ccc] w-full pl-[1.125rem] py-4">
                      <a
                        href={Astro.url.pathname + entry.data.articleName + "/"}
                        class=" list-disc list-item group"
                      >
                        <div class="flex flex-row">
                          <div class="font-semibold">[{currNewsCategory}]</div>
                          <div class="pl-4 text-[#337ab7] group-hover:text-red-primary">
                            {entry.data.title}
                          </div>
                        </div>
                      </a>
                    </li>
                  );
                })}
              </ul>
            );
          } else if (
            entries.length > 0 &&
            entries[0].data.newsCategory === "new-product-releases"
          ) {
            return entries.map((entry) => (
              <div class="w-full md:w-6/12 p-2">
                <a
                  href={Astro.url.pathname + entry.data.articleName + "/"}
                  class="block hover:bg-[#f5f5f5] p-3 group"
                >
                  <figure class="flex flex-row h-[120px]">
                    <div class="w-[200px] flex-shrink-0">
                      <Img
                        src={entry.data.image.src}
                        alt={entry.data.image.alt}
                      />
                    </div>
                    <figcaption class="flex-grow py-2 pl-[0.625rem] pr-2">
                      <h4 class="text-[15px] text-[#337ab7] pb-2 font-semibold group-hover:text-red-primary">
                        {entry.data.title}
                      </h4>
                      <p class="text-[0.75rem] text-[#999]">
                        {entry.data.articleShortDescription}
                      </p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            ));
          } else if (
            entries.length > 0 &&
            entries[0].data.newsCategory === "videos"
          ) {
          }
        }
      }
    </main>
    <div class="mb-16 flex justify-center">
      <BackBtn />
    </div>
  </div>
</Layout>
