---
import astroI18next, { t, changeLanguage } from "i18next";
import { getCollection } from "astro:content";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data
import NavigationJson from "@data/navigation.json";
//data types
import type {
  PageMetaTag,
  OpenGraphMetaTag,
  TwitterMetaTag,
} from "@customTypes/seo/types";
import type { CollectionEntry } from "astro:content";

changeLanguage("cn");

const page: PageMetaTag = {
  title: t("navigation:navbar.about.sublinks.companyProfile.pageTitle"),
  description: t(
    "navigation:navbar.about.sublinks.companyProfile.pageDescription"
  ),
  author: t("navigation:navbar.about.sublinks.companyProfile.pageAuthor"),
  keywords: t("navigation:navbar.about.sublinks.companyProfile.pageKeywords"),
};
const openGraph: OpenGraphMetaTag = {
  title: t("navigation:navbar.about.sublinks.companyProfile.openGraphTitle"),
  type: t("navigation:navbar.about.sublinks.companyProfile.openGraphType"),
  image: t("navigation:navbar.about.sublinks.companyProfile.openGraphImage"),
  description: t(
    "navigation:navbar.about.sublinks.companyProfile.openGraphDescription"
  ),
};
const twitter: TwitterMetaTag = {
  cardType: t(
    "navigation:navbar.about.sublinks.companyProfile.twitterCardType"
  ),
  title: t("navigation:navbar.about.sublinks.companyProfile.twitterTitle"),
  description: t(
    "navigation:navbar.about.sublinks.companyProfile.twitterDescription"
  ),
  image: t("navigation:navbar.about.sublinks.companyProfile.twitterImage"),
};
const bannerImageSrc = t(
  "navigation:navbar.about.sublinks.companyProfile.bannerImageSrc"
);
const bannerHeight = "200px";
const trueImage = t(
  "navigation:navbar.about.sublinks.companyProfile.trueImage"
) as unknown as boolean;
const trueImageStyle = t(
  "navigation:navbar.about.sublinks.companyProfile.trueImageStyle"
);
type Subnav = {
  label: string;
  href: string;
  slug: string;
};
var subnavs = NavigationJson.links
  .filter((link) => link.name === "about")[0]
  .children.map((child: string) => {
    return {
      label: t(`navigation:navbar.about.sublinks.${child}.name`),
      href: `/about/${t(`navigation:navbar.about.sublinks.${child}.slug`)}/`,
      slug: t(`navigation:navbar.about.sublinks.${child}.slug`),
    };
  }) as Subnav[];

export async function getStaticPaths() {
  const newsEntries = await getCollection("news-categories", ({ data }) => {
    return data.lang === astroI18next.language;
  });
  return newsEntries.map((entry) => ({
    params: {
      category: entry.data.title,
    },
    props: { entry },
  }));
}

let entries = await getCollection("news", ({ data }) => {
  return (
    data.lang === astroI18next.language &&
    data.newsCategory === Astro.props.entry.data.title
  );
});
let currNewsCategory:string = "";
try{
   currNewsCategory = (await getCollection("news-categories", ({data}) =>{
    return data.title === entries[0].data.newsCategory
  }))[0].data.name
}
catch(e){
   currNewsCategory = ""
}

---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <div class="my-[1.125rem] sticky top-0">
      <InnerSubNav subnavs={subnavs} />
    </div>
    <div class="mb-6">
      <BreadCrumbs
        label={currNewsCategory}
      />
    </div>
    <main class="flex flex-wrap">
      {
        () => {
          if (
            entries.length > 0 &&
            entries[0].data.newsCategory == "industry-information"
          ) {
            {
              return entries.map((entry) => (
                <div class="w-6/12 p-2 ">
                  <a
                    href={
                      "/news/" +
                      entry.data.newsCategory +
                      "/" +
                      entry.data.articleName +
                      "/"
                    }
                    class="  block hover:bg-[#f5f5f5] p-3 group"
                  >
                    <figure class="flex flex-row h-[120px]">
                      <div class="w-[200px] flex-shrink-0">
                        <Img
                          src={entry.data.image.src}
                          alt={entry.data.image.alt}
                        />
                      </div>
                      <figcaption class="flex-grow py-2 pl-[0.625rem] pr-2">
                        <h4 class="text-[15px] text-[#337ab7] pb-2 font-semibold group-hover:text-red-primary">
                          {entry.data.title}
                        </h4>
                        <p class="text-[0.75rem] text-[#999]">
                          {entry.data.articleShortDescription}
                        </p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              ));
            }
          } else if (
          entries.length > 0 &&
            entries[0].data.newsCategory == "company-announcements"
          ){
            return(
              <ul>
                {entries.map((entry)=>{
                  <li><span>[{currNewsCategory}]</span>{entry.data.articleName}</li>
                })}
              </ul>
            )
          }
        }
      }
    </main>
    <div class="mb-16 flex justify-center">
      <BackBtn />
    </div>
  </div>
</Layout>
