---
import { t, changeLanguage } from "i18next";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";

changeLanguage("cn");

const page: PageMetaTag = {
    title: t("navigation:navbar.about.sublinks.company-profile.pageTitle"),
    description: t("navigation:navbar.about.sublinks.company-profile.pageDescription"),
    author: t("navigation:navbar.about.sublinks.company-profile.pageAuthor"),
    keywords: t("navigation:navbar.about.sublinks.company-profile.pageKeywords"),
};
const openGraph: OpenGraphMetaTag = {
    title: t("navigation:navbar.about.sublinks.company-profile.openGraphTitle"),
    type: t("navigation:navbar.about.sublinks.company-profile.openGraphType"),
    image: t("navigation:navbar.about.sublinks.company-profile.openGraphImage"),
    description: t("navigation:navbar.about.sublinks.company-profile.openGraphDescription"),
};
const twitter: TwitterMetaTag = {
    cardType: t("navigation:navbar.about.sublinks.company-profile.twitterCardType"),
    title: t("navigation:navbar.about.sublinks.company-profile.twitterTitle"),
    description: t("navigation:navbar.about.sublinks.company-profile.twitterDescription"),
    image: t("navigation:navbar.about.sublinks.company-profile.twitterImage"),
};
const bannerImageSrc = t("navigation:navbar.about.sublinks.company-profile.bannerImageSrc");
const bannerHeight = "200px";
const trueImage = t("navigation:navbar.about.sublinks.company-profile.trueImage") as unknown as boolean;
const trueImageStyle = t("navigation:navbar.about.sublinks.company-profile.trueImageStyle");
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav name="about" />

    <div class="mb-6">
      <BreadCrumbs
        label={t("navigation:navbar.about.sublinks.company-profile.name")}
      />
    </div>
    <main>
      <div class="group w-full lg:w-7/12 float-left">
        <div
          class="group-hover:scale-[0.9] transition-all duration-150 pr-2 pb-2"
        >
          <Img
            src={t(
              "navigation:navbar.about.sublinks.company-profile.contents.image.src"
            )}
            alt={t(
              "navigation:navbar.about.sublinks.company-profile.contents.image.alt"
            )}
          />
        </div>
      </div>
      {
        Array.from(
          {
            length: parseInt(
              t(
                "navigation:navbar.about.sublinks.company-profile.contents.sections.count"
              )
            ),
          },
          (_, i) => i + 1
        ).map((i: number) => {
          return (
            <>
              <h2 class="text-lg font-semibold">
                {t(
                  "navigation:navbar.about.sublinks.company-profile.contents.sections.section" +
                    i +
                    ".label"
                )}
              </h2>
              <p class="mb-6 mt-4">
                {t(
                  "navigation:navbar.about.sublinks.company-profile.contents.sections.section" +
                    i +
                    ".text"
                )}
              </p>
            </>
          );
        })
      }
    </main>
    <div class="mb-16 flex justify-center">
      <BackBtn />
    </div>
  </div>
</Layout>
