---
import { Img } from "astro-imagetools/components";
import { t } from "i18next";
import { getCollection } from "astro:content";
import { utilGetCurrentLanguage } from "@helpers/commonUtils";
const { lang } = Astro.props;
const newsEntries = await getCollection("news", ({ data }) => {
  return data.lang === lang;
});
const maxArticles = 5;
//sort by date
newsEntries.sort((entry1, entry2) => {
  const date1 = new Date(entry1.data.pubDate) as any;
  const date2 = new Date(entry2.data.pubDate) as any;
  return date1 - date2;
});
var articles = newsEntries.slice(0, maxArticles);
---

<div class="news-stub border-[1px] border-solid border-[#0b4a75]">
  <div
    class="bg-[#0b4a75] text-white px-[15px] py-[10px] flex flex-row justify-between"
  >
    <h3 class="text-lg font-semibold">{t("page-home:stubs.news.label")}</h3>
    <a
      href={utilGetCurrentLanguage(Astro.url.pathname) +
        t("page-home:stubs.news.more.href") +
        "/"}
    >
      {t("page-home:stubs.news.more.label")}
    </a>
  </div>
  <div class="p-4">
    {
      () => {
        if (articles.length) {
          return (
            <>
              <figure class="flex flex-row group">
                <div class="w-[160px] shrink-0 flex items-center">
                  <Img
                    src={articles[0].data.image.src}
                    alt={articles[0].data.image.alt}
                    w={160}
                  />
                </div>

                <figcaption class="px-4 py-2">
                  <a
                    href={
                      utilGetCurrentLanguage(Astro.url.pathname) +
                      "/" +
                      articles[0].collection +
                      "/" +
                      articles[0].data.newsCategory +
                      "/" +
                      articles[0].data.articleName +
                      "/"
                    }
                    class="hover:text-[#cc0000] text-[#009ce0]"
                  >
                    {articles[0].data.title}
                  </a>

                  <br />
                  <span class="text-[#434343]">
                    {articles[0].data.articleShortDescription}
                  </span>
                </figcaption>
              </figure>
            </>
          );
        }
      }
    }

    <ul class="w-full mt-4">
      {
        articles.map((entry, index: number) => {
          if (index !== 0) {
            return (
              <>
                <li class="text-[13px]  border-solid border-[1px] border-[#cecece] w-full hover:bg-[#f5f5f5]">
                  <a
                    href={
                      utilGetCurrentLanguage(Astro.url.pathname) +
                      "/" +
                      entry.collection +
                      "/" +
                      entry.data.newsCategory +
                      "/" +
                      entry.data.articleName +
                      "/"
                    }
                    class="flex flex-row justify-between font-semibold text-[#222] hover:text-[#cc0000]"
                  >
                    <div class="p-2">{entry.data.title}</div>
                    <div class="px-4 py-[2px] whitespace-nowrap flex items-center">
                      <span class="w-fit h-fit block px-2 py-[2px] rounded-full bg-white">
                        {
                          new Date(entry.data.pubDate)
                            .toISOString()
                            .split("T")[0]
                        }
                      </span>
                    </div>
                  </a>
                </li>
              </>
            );
          }
        })
      }
    </ul>
  </div>
</div>
