---
import { utilGetCurrentLanguage } from "@helpers/commonUtils";

import { Img } from "astro-imagetools/components";
import { t } from "i18next";
import Layout from "@layouts/Layout.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";

import type {
  PageMetaTag,
  OpenGraphMetaTag,
  TwitterMetaTag,
} from "@customTypes/seo/types";

type Props = {
  pageName: string;
};

const { pageName } = Astro.props as Props;
const trueImage = t(
  "navigation:navbar." + pageName + ".trueImage"
) as unknown as boolean;
const trueImageStyle = t("navigation:navbar." + pageName + ".trueImageStyle");
import navigationJson from "@data/navigation.json";

var refs = navigationJson.links.filter((link) => link.name === pageName)[0];
var metaTagRef = `navigation:navbar.${pageName}.metaTag`;
const pageMetaTag: PageMetaTag = {
    title: t(metaTagRef + ".pageTitle") ?? t("site-info.pageTitle"),
    description: t(metaTagRef + ".pageDescription") ?? t("site-info.pageTitle"),
    keywords: t(metaTagRef + ".pageKeywords") ?? t("site-info:pageKeywords"),
    author: t(metaTagRef + ".pageAuthor") ?? t("site-info:pageAuthor"),
  },
  opengraphMetaTag: OpenGraphMetaTag = {
    title:
      t(metaTagRef + ".ogTitle") ??
      t(metaTagRef + ".pageTitle") ??
      t(metaTagRef + ".twitterTitle") ??
      t("site-info:ogTitle"),
    type: t(metaTagRef + ".ogType") ?? t("site-info:ogType"),
    image:
      t(metaTagRef + ".ogImage") ??
      t(metaTagRef + ".twitterImage") ??
      t("site-info:ogImage"),
    description:
      t(metaTagRef + ".ogDescription") ??
      t(metaTagRef + ".twitterDescription") ??
      t(metaTagRef + ".pageDescription") ??
      t("site-info:ogDescription"),
  },
  twitterMetaTag: TwitterMetaTag = {
    cardType:
      t(metaTagRef + ".twitterCardType") ?? t("site-info:twitterCardType"),
    title:
      t(metaTagRef + ".twitterTitle") ??
      t(metaTagRef + ".ogTitle") ??
      t("site-info:twitterTitle"),
    description:
      t(metaTagRef + ".description") ??
      t(metaTagRef + ".ogDescription") ??
      t("site-info:pageDescription"),
    image:
      t(metaTagRef + ".twitterImage") ??
      t(metaTagRef + ".ogImage") ??
      t("site-info:twitterImage"),
  };
---

<Layout
  page={pageMetaTag}
  openGraph={opengraphMetaTag}
  twitter={twitterMetaTag}
>
  <Banner
    bannerImageSrc={t("navigation:navbar." + pageName + ".bannerImageSrc")}
    bannerHeight="200px"
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <main>
    <div class="container w-full mx-auto my-4 md:w-11/12 lg:w-10/12">
      <section class="flex flex-col flex-wrap">
        <BreadCrumbs label={t("navigation:navbar." + pageName + ".name")} />

        <div class="w-full py-4">
          <blockquote
            class="px-4 py-2 border-l-[5px] border-solid border-l-[#eee] text-[0.875rem]"
          >
            {t("navigation:navbar." + pageName + ".quote")}
          </blockquote>
        </div>
      </section>

      <section class="flex flex-row flex-wrap mt-4 lg:mt-8">
        {
          refs.children.map((ref: string) => {
            return (
              <>
                <div class="w-full md:w-6/12 p-2 flex">
                  <a
                    href={`${utilGetCurrentLanguage(
                      Astro.url.toString()
                    )}/${pageName}/${t(
                      `navigation:navbar.${pageName}.sublinks.` + ref + ".slug"
                    )}/`}
                    class="group drop-shadow-sm transition duration-100 flex flex-grow
                    hover:drop-shadow-md 
                    "
                  >
                    <figure class="flex flex-row border-[1px] border-solid border-[#e5e7eb] flex-grow hover:border-[#cc0000]">
                      <div class="w-[240px] min-h-[125px] max-h-[150px] shrink-0 flex justify-center items-center">
                        {() => {
                          if (
                            t(
                              `navigation:navbar.${pageName}.sublinks.` +
                                ref +
                                ".imageRef"
                            ) !== ""
                          ) {
                            return (
                              <Img
                                src={t(
                                  `navigation:navbar.${pageName}.sublinks.` +
                                    ref +
                                    ".imageRef"
                                )}
                                alt={t(
                                  `navigation:navbar.${pageName}.sublinks.` +
                                    ref +
                                    ".alt"
                                )}
                                h={125}
                              />
                            );
                          }
                        }}
                      </div>
                      <figcaption class="px-4 py-2 w-full bg-[#f1f1f1] space-y-2">
                        <h3 class="group-hover:text-[#cc0000]">
                          {t(
                            `navigation:navbar.${pageName}.sublinks.` +
                              ref +
                              ".name"
                          )}
                        </h3>
                        <h4 class="text-[0.75rem] text-[#777]">
                          {Array.from({
                            length: parseInt(
                              t(
                                `navigation:navbar.${pageName}.sublinks.${ref}.subText.count`
                              )
                            ),
                          }).map((_: any, j: number) => {
                            return (
                              <div>
                                {t(
                                  `navigation:navbar.${pageName}.sublinks.${ref}.subText.text${
                                    1 + j
                                  }`
                                )}
                              </div>
                            );
                          })}
                        </h4>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </>
            );
          })
        }
      </section>
      <div class="flex justify-center">
        <BackBtn />
      </div>
    </div>
  </main>
</Layout>
