---
import i18next, { t, changeLanguage } from "i18next";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data
import NavigationJson from "@data/navigation.json";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";

changeLanguage("cn");

let pageJson = "page-about-sublink-research-and-innovation";
const page: PageMetaTag = {
    title: t(pageJson + ":pageTitle"),
    description: t(pageJson + ":pageDescription"),
    author: t(pageJson + ":pageAuthor"),
    keywords: t(pageJson + ":pageKeywords"),
};
const openGraph: OpenGraphMetaTag = {
    title: t(pageJson + ":openGraphTitle"),
    type: t(pageJson + ":openGraphType"),
    image: t(pageJson + ":openGraphImage"),
    description: t(pageJson + ":openGraphDescription"),
};
const twitter: TwitterMetaTag = {
    cardType: t(pageJson + ":twitterCardType"),
    title: t(pageJson + ":twitterTitle"),
    description: t(pageJson + ":twitterDescription"),
    image: t(pageJson + ":twitterImage"),
};
const bannerImageSrc = t(pageJson + ":bannerImageSrc");
const bannerHeight = "200px";
const trueImage = t(pageJson + ":trueImage") as unknown as boolean;
const trueImageStyle = t(pageJson + ":trueImageStyle");
type Subnav = {
    label: string;
    href: string;
    slug: string;
};
var subnavs = NavigationJson.links
    .filter((link) => link.name === "about")[0]
    .children.map((child: string) => {
    return {
        label: t(`navigation:navbar.about.sublinks.${child}.name`),
        href: `/about/${t(`navigation:navbar.about.sublinks.${child}.slug`)}/`,
        slug: t(`navigation:navbar.about.sublinks.${child}.slug`),
    };
}) as Subnav[];
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <div class="my-[1.125rem] sticky top-0">
      <InnerSubNav subnavs={subnavs} />
    </div>
    <div class="mb-6">
      <BreadCrumbs label={t(pageJson + ":name")} />
    </div>
    <main>
      <!--section 1 -->
      <section class="">
        {
          i18next.language == "cn" && (
            <h2 class="text-[1.5rem] font-semibold my-[1.5rem]">
              {t(pageJson + ":contents.section1.header")}
            </h2>
          )
        }
        <div>
          <div class="font-semibold">
            {t(pageJson + ":contents.section1.label")}
          </div>
          <div class="text-text-primary mt-4 mb-6">
            {t(pageJson + ":contents.section1.text")}
          </div>
        </div>
        <div>
          <div class="font-semibold">
            {t(pageJson + ":contents.section2.label")}
          </div>
          <div class="text-text-primary mt-4 mb-6">
            <p>
              {t(pageJson + ":contents.section2.text1")}
            </p>
            <p>
              {t(pageJson + ":contents.section2.text2")}
            </p>
          </div>
        </div>
      </section>
      <!--section 2: Immages -->
      <section>
        <div class="w-11/12 mx-auto py-4 flex flex-col justify-center">
          <Img
            src="/images/about/research-and-innovation/image1-tinified.webp"
            alt="pump failure and repair cost pie chart"
          />
        </div>
        <h2 class="font-semibold text-[1.5rem] mt-4 mb-6">
          <p>
            {t(pageJson + ":contents.section3.header1")}
          </p>
          <p>
            {t(pageJson + ":contents.section3.header2")}
          </p>
        </h2>
        <div class="w-full mx-auto py-4 flex flex-row justify-center">
          <div class="w-full py-4 lg:w-4/12 lg:py-0">
            <Img
              src="/images/about/research-and-innovation/image2-tinified.webp"
              alt="Bellow Model"
            />
          </div>
          <div class="w-full py-4 lg:w-4/12 lg:py-0">
            <Img
              src="/images/about/research-and-innovation/image3-tinified.webp"
              alt="Ras Model"
            />
          </div>
          <div class="w-full py-4 lg:w-4/12 lg:py-0">
            <Img
              src="/images/about/research-and-innovation/image4-tinified.webp"
              alt="Model"
            />
          </div>
        </div>
      </section>
      <section class="block md:flex md:flex-row">
        <div class="flex-grow pr-4">
          <h2 class="text-[1.5rem] font-semibold my-[1.5rem]">
            {t(pageJson + ":contents.section4.header")}
          </h2>
          <div>
            <div class="font-semibold mb-4 mt-6">
              {t(pageJson + ":contents.section4.label")}
            </div>
            <div class="text-text-primary">
              {t(pageJson + ":contents.section4.text")}
            </div>
          </div>
        </div>

        <div class="flex flex-grow shrink-0 justify-center md:w-[300px]">
          <Img
            src="/images/about/research-and-innovation/image5-tinified.webp"
            alt="Corporate Meeting"
          />
        </div>
      </section>
      <div class="mb-16 flex justify-center">
        <BackBtn />
      </div>
    </main>
  </div>
</Layout>
