---
import { t, changeLanguage } from "i18next";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";

changeLanguage("en");

let pageJson = "page-about-sublink-production-ability";
const page: PageMetaTag = {
    title: t(pageJson + ":pageTitle"),
    description: t(pageJson + ":pageDescription"),
    author: t(pageJson + ":pageAuthor"),
    keywords: t(pageJson + ":pageKeywords"),
};
const openGraph: OpenGraphMetaTag = {
    title: t(pageJson + ":openGraphTitle"),
    type: t(pageJson + ":openGraphType"),
    image: t(pageJson + ":openGraphImage"),
    description: t(pageJson + ":openGraphDescription"),
};
const twitter: TwitterMetaTag = {
    cardType: t(pageJson + ":twitterCardType"),
    title: t(pageJson + ":twitterTitle"),
    description: t(pageJson + ":twitterDescription"),
    image: t(pageJson + ":twitterImage"),
};
const bannerImageSrc = t(pageJson + ":bannerImageSrc");
const bannerHeight = "200px";
const trueImage = t(pageJson + ":trueImage") as unknown as boolean;
const trueImageStyle = t(pageJson + ":trueImageStyle");
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav name="about" />

    <div class="mb-6">
      <BreadCrumbs label={t(pageJson + ":name")} />
    </div>
    <main>
      <!--Section 1 -->
      <section class="mb-16">
        <div class="w-full flex flex-row space-x-4 flex-wrap lg:flex-nowrap">
          {
            Array.from({ length: 3 }).map((_: any, i: number) => {
              return (
                <div class=" flex-shrink scale-[1] duration-300 z-[1] hover:scale-[0.90]">
                  <Img
                    src={t(
                      pageJson + ":contents.images.image" + (1 + i) + ".src"
                    )}
                    alt={t(
                      pageJson + ":contents.images.image" + (1 + i) + ".alt"
                    )}
                  />
                </div>
              );
            })
          }
        </div>
        <div class="mt-8 text-[0.875rem]">
          {
            Array.from({ length: 3 }).map((_: any, i: number) => {
              return (
                <p class="text-text-primary">
                  {t(pageJson + ":contents.texts.text" + (1 + i))}
                </p>
              );
            })
          }
        </div>
      </section>
      <section class="">
        <div class="w-full flex flex-row flex-wrap space-x-4 lg:flex-nowrap">
          <div
            class="w-3/12 h-[350px] scale-[1] duration-300 z-[1] hover:scale-[0.90]"
          >
            <Img
              src={t(pageJson + ":contents.images.image4.src")}
              alt={t(pageJson + ":contents.images.image4.alt")}
            />
          </div>
          <div
            class="w-6/12 h-[350px] scale-[1] duration-300 z-[1] hover:scale-[0.90]"
          >
            <Img
              src={t(pageJson + ":contents.images.image5.src")}
              alt={t(pageJson + ":contents.images.image5.alt")}
            />
          </div>
          <div
            class="w-3/12 h-[350px] scale-[1] duration-300 z-[1] hover:scale-[0.90]"
          >
            <Img
              src={t(pageJson + ":contents.images.image6.src")}
              alt={t(pageJson + ":contents.images.image6.alt")}
            />
          </div>
        </div>
        <div class="mt-8 mb-16">
          <p class="text-text-primayr text-[0.875rem]">
            {t(pageJson + ":contents.texts.text4")}
          </p>
          <p class="text-text-primary text-[0.875rem]">
            {t(pageJson + ":contents.texts.text5")}
          </p>
        </div>
      </section>
      <section>
        <p class="text-text-primary font-semibold mb-4">
          {t(pageJson + ":contents.texts.text6")}
        </p>
        <p class="text-text-primary">{t(pageJson + ":contents.texts.text7")}</p>
      </section>
      <div class="mb-16 flex justify-center">
        <BackBtn />
      </div>
    </main>
  </div>
</Layout>
