---
import { Picture } from "astro-imagetools/components";
import i18next, { t } from "i18next";
import navigationJson from "@data/navigation.json";
import SubMenu from "@components/theme/navbar/SubMenu.svelte";
import { utilGetCurrentLangauge } from "@helpers/commonUtils";

const { pathname } = Astro.url;
const currentLanguage = utilGetCurrentLangauge(pathname);

type Link = { name: string; link: string; children: Sublink[] };
type Sublink = {
  name: string;
  link: string;
  imageRef: string;
  alt: string;
  subText: string;
};
const { links }: any = navigationJson;

//process the entire thing includidng the translation
var processedLinks: Link[] = [];
links.map((link: any) => {
  if (link.showNavBar) {
    var processedLink: Link = { name: "", link: "", children: [] };
    processedLink.name = t("navigation:navbar." + link.name + ".name");
    processedLink.link = currentLanguage + link.link;
    link.children.map(
      (navbarJsonSublink: {
        name: string;
        link: string;
        imageRef: string;
        showNavBar: boolean;
      }) => {
        if (navbarJsonSublink.showNavBar) {
          var processedSublink: Sublink = {
            name: "",
            link: "",
            imageRef: "",
            alt: "",
            subText: "",
          };
          processedSublink.name = t(
            "navigation:navbar." +
              link.name +
              ".sublinks." +
              navbarJsonSublink.name +
              ".name"
          );
          processedSublink.link = currentLanguage + navbarJsonSublink.link;
          processedSublink.imageRef = navbarJsonSublink.imageRef;
          processedSublink.alt = t(
            "navigation:navbar." +
              link.name +
              ".sublinks." +
              navbarJsonSublink.name +
              ".alt"
          );
          processedSublink.subText = t(
            "navigation:navbar." +
              link.name +
              ".sublinks." +
              navbarJsonSublink.name +
              ".subText"
          );
          processedLink.children.push(processedSublink);
        }
      }
    );
    processedLinks.push(processedLink);
  }
});
---

<header class="">
  <!--logo section -->
  <section class="w-full bg-white py-[1.25rem]">
    <div
      class="w-full px-4 flex justify-between mx-auto container lg:w-11/12 xl:w-9/12"
    >
      <div class="company-logo">
        <a href="/">
          <Picture
            src="/images/logo/company-logo.png"
            alt="AdvantageSeal logo"
            h={60}
          />
        </a>
      </div>
      <div class="flex flex-row">
        <!--hotline -->
        <div class="flex-1 items-center pr-[2rem] hidden lg:flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="h-[36px]"
            fill="#3ebe2b"
            ><path
              d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm90.7 96.7c9.7-2.6 19.9 2.3 23.7 11.6l20 48c3.4 8.2 1 17.6-5.8 23.2L168 231.7c16.6 35.2 45.1 63.7 80.3 80.3l20.2-24.7c5.6-6.8 15-9.2 23.2-5.8l48 20c9.3 3.9 14.2 14 11.6 23.7l-12 44C336.9 378 329 384 320 384C196.3 384 96 283.7 96 160c0-9 6-16.9 14.7-19.3l44-12z"
            ></path></svg
          >
          <div class="flex flex-col px-2">
            <span class="text-xs font-bold" style=""
              >{t("navigation:hotline")}</span
            >
            <span class="text-[16px] font-bold leading-[1rem]"
              >+86 (574)87500883</span
            >
          </div>
        </div>
        <!--language switch -->
        <div class="flex items-center">
          <div
            class="flex flex-row items-center overflow-hidden border border-[#009ce0] rounded-md w-[120px] h-[30px]"
          >
            <div
              class="text-center text-xs w-[60px] h-[30px] text-white bg-[#009ce0] flex items-center justify-center"
            >
              <a href="/" class="">中文</a>
            </div>
            <div
              class="text-center text-xs w-[60px] h-[30px] text-[#009ce0] bg-white flex items-center justify-center"
            >
              <a href="/en" class="">EN</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Navigation Section-->
  <section>
    <nav>
      <!-- Desktop Menu -->
      <div class="bg-[#f1f1f1] w-full hidden lg:block">
        <div class="w-full mx-auto container lg:w-11/12 xl:w-9/12">
          <ul class="flex flex-row">
            {
              processedLinks.map((processedLink: Link) => {
                return (
                  <>
                    <li class="group border-t-[3px] border-t-[#019cdf00]  text-[14px] hover:border-t-[#019cdf]">
                      <a
                        class="block px-[42px] py-[18px] pb-[21px] group-hover:bg-white"
                        href={processedLink.link}
                      >
                        {processedLink.name}
                      </a>

                      {processedLink.children.length > 0 && (
                        <SubMenu client:load links={processedLink.children!}>
                          <div
                            slot="description"
                            class="descriptionCollection p-[20px]"
                          >
                            {processedLink.children.map((sublink) => {
                              if (sublink.imageRef !== "") {
                                return (
                                  <div class="descriptionItem hidden">
                                    <Picture
                                      src={sublink.imageRef}
                                      alt={sublink.alt}
                                    />
                                    <div class="mt-[20px]">
                                      {sublink.subText}
                                    </div>
                                  </div>
                                );
                              } else {
                                return <div class="descriptionItem hidden" />;
                              }
                            })}
                          </div>
                        </SubMenu>
                      )}
                    </li>
                  </>
                );
              })
            }
          </ul>
        </div>
      </div>
      <!--Mobile Menu Button -->
      <div class="bg-[#f1f1f1] w-full flex justify-end lg:hidden">
        <button
          aria-label="menu button"
          id="nav-menu-btn"
          class="p-[15px] w-[50px] h-[50px] lg:hidden"
        >
          <div id="burger" class="space-y-1">
            <div
              id="burger-1"
              class="w-6 h-1 origin-top-left transition rounded-full bg-black"
            >
            </div>
            <div id="burger-2" class="w-6 h-1 transition rounded-full bg-black">
            </div>
            <div
              id="burger-3"
              class="w-6 h-1 origin-bottom-left transition rounded-full bg-black"
            >
            </div>
          </div>
        </button>
      </div>
      <!--Mobile Menu -->
      <div id="nav-menu" class="hidden lg:hidden">
        <ul class="bg-[#f1f1f1]">
          {
            processedLinks.map((processedLink, index) => {
              return (
                <li
                  class={`w-full ${
                    index !== processedLinks.length - 1 && "border-b-[1px]"
                  } hover:border-b-[#0ba0e1] `}
                >
                  <div class="flex justify-between items-center">
                    <a
                      class="px-[42px] w-full h-[50px] flex items-center grow hover:text-[#0ba0e1]"
                      href={processedLink.link}
                    >
                      {processedLink.name}
                    </a>

                    {processedLink.children.length > 0 && (
                      <div class="">
                        <button
                          aria-label={`drop-down ${processedLink.name.toLowerCase()} menu button`}
                          class="w-[50px] h-[50px] bg-white text-center sub-menu-btn"
                        >
                          <span>+</span>
                        </button>
                      </div>
                    )}
                  </div>
                  {processedLink.children.length > 0 && (
                    <div class="sub-menu-collection border-t-[1px]  pl-[2rem] hidden hover:border-t-[#009CE0]">
                      <ul class="w-full">
                        {processedLink.children.map((sublink, index) => {
                          return (
                            <li
                              class={`w-full flex items-center ${
                                index !== processedLink.children.length - 1 &&
                                "border-b-[1px] hover:border-b-[#009CE0]"
                              } hover:text-[#009CE0]`}
                            >
                              <a
                                class="px-[21px] w-full h-[50px] flex items-center"
                                href={sublink.link}
                              >
                                {sublink.name}
                              </a>
                            </li>
                          );
                        })}
                      </ul>
                    </div>
                  )}
                </li>
              );
            })
          }
        </ul>
      </div>
    </nav>
  </section>
</header>
<script>
  //mobile nav menu drop-down button
  var navMenuBtn = document.querySelector("#nav-menu-btn")!;
  var navMenu = document.querySelector("#nav-menu")!;

  navMenuBtn.addEventListener("click", function () {
    navMenu.classList.toggle("hidden");
  });
  //mobile suv-nav menu drop-down btn
  var subMenuBtns = document.querySelectorAll(".sub-menu-btn")!;
  var subMenuCollections = document.querySelectorAll(".sub-menu-collection")!;
  subMenuBtns.forEach((subMenuBtn, index) => {
    subMenuBtn.addEventListener("click", function () {
      subMenuCollections[index].classList.toggle("hidden");
    });
  });
</script>
