---
import i18next, { t, changeLanguage } from "i18next";
import DefaultPageLayout from "@layouts/DefaultPageLayout.astro";
import json from "@data/pages/home.json";

changeLanguage("en");
---

<DefaultPageLayout
  title={json.pageTitle}
  description={json.pageDescription}
  keywords={json.pageKeywords}
  author={json.pageAuthor}
  ogTitle={json.ogTitle}
  ogType={json.ogType}
  ogImage={json.ogImage}
  ogDescription={json.ogDescription}
  twitterCardType={json.twitterCardType}
  twitterTitle={json.twitterTitle}
  twitterDescription={json.twitterDescription}
  twitterImage={json.twitterImage}
>
  <main class="flex-grow"></main>
</DefaultPageLayout>
