---
import i18next, { t, changeLanguage } from "i18next";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data
import NavigationJson from "@data/navigation.json";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";

changeLanguage("cn");

let pageJson = "page-about-sublink-qualification-honor";
const page: PageMetaTag = {
    title: t(pageJson + ":pageTitle"),
    description: t(pageJson + ":pageDescription"),
    author: t(pageJson + ":pageAuthor"),
    keywords: t(pageJson + ":pageKeywords"),
};
const openGraph: OpenGraphMetaTag = {
    title: t(pageJson + ":openGraphTitle"),
    type: t(pageJson + ":openGraphType"),
    image: t(pageJson + ":openGraphImage"),
    description: t(pageJson + ":openGraphDescription"),
};
const twitter: TwitterMetaTag = {
    cardType: t(pageJson + ":twitterCardType"),
    title: t(pageJson + ":twitterTitle"),
    description: t(pageJson + ":twitterDescription"),
    image: t(pageJson + ":twitterImage"),
};
const bannerImageSrc = t(pageJson + ":bannerImageSrc");
const bannerHeight = "200px";
const trueImage = t(pageJson + ":trueImage") as unknown as boolean;
const trueImageStyle = t(pageJson + ":trueImageStyle");
type Subnav = {
    label: string;
    href: string;
    slug: string;
};
var subnavs = NavigationJson.links
    .filter((link) => link.name === "about")[0]
    .children.map((child: string) => {
    return {
        label: t(`navigation:navbar.about.sublinks.${child}.name`),
        href: `/about/${t(`navigation:navbar.about.sublinks.${child}.slug`)}/`,
        slug: t(`navigation:navbar.about.sublinks.${child}.slug`),
    };
}) as Subnav[];
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav subnavs={subnavs} />

    <div class="mb-6">
      <BreadCrumbs label={t(pageJson + ":name")} />
    </div>
    <main>
      <section>
        <div class="w-full flex justify-between">
          <div class="w-7/12">
            {
              Array.from({ length: 2 }).map((el: any, i: number) => {
                return (
                  <p class="text-text-primary text-[0.875rem]">
                    {t(pageJson + `:contents.text${i + 1}`)}
                  </p>
                );
              })
            }
            <p class="text-[1.125rem] font-semibold mt-[40px]">
              {t(pageJson + `:contents.text3`)}
            </p>
          </div>
          <div class="w-4/12 scale-[1] duration-300 z-[1] hover:scale-[0.90]">
            <Img src={t(pageJson + ":contents.image1")} alt="silver trophy" />
          </div>
        </div>
      </section>
      <div class="mb-16 flex justify-center">
        <BackBtn />
      </div>
    </main>
  </div>
</Layout>
