---
import i18next, { t, changeLanguage } from "i18next";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";

changeLanguage("en");

const metaTagRef = "meta-tags:talent-strategy";
const pageJson = "page-contact-sublink-talent-strategy";
const page: PageMetaTag = {
    title: t(`${metaTagRef}.pageTitle`),
    description: t(`${metaTagRef}.pageDescription`),
};
const openGraph: OpenGraphMetaTag = {
    title: t(`${metaTagRef}.ogTitle`),
    description: t(`${metaTagRef}.ogDescription`),
};
const twitter: TwitterMetaTag = {
    title: t(`${metaTagRef}.twitterTitle`),
    description: t(`${metaTagRef}.twitterDescription}`),
};
const bannerImageSrc = t(pageJson + ":bannerImageSrc");
const bannerHeight = "200px";
const trueImage = t(pageJson + ":trueImage") as unknown as boolean;
const trueImageStyle = t(pageJson + ":trueImageStyle");
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav name="contact" />
    <div class="mb-6">
      <BreadCrumbs label={t(pageJson + ":name")} />
    </div>
    <main class="px-2">
      <!--Section1 -->
      <div class="mb-8 text-[0.875rem] text-text-primary leading-[1.75rem]">
        <span class="font-semibold"
          >{t(pageJson + ":contents.section1.text1")}</span
        ><span>{t(pageJson + ":contents.section1.text2")}</span>
      </div>
      <!--Section2 -->
      <div class="mb-8 text-[0.875rem] text-text-primary leading-[1.75rem]">
        <p>
          {t(pageJson + ":contents.section2.text1")}
          <span class="font-semibold"
            >{t(pageJson + ":contents.section2.text2")}</span
          >
          {t(pageJson + ":contents.section2.text3")}
          <span class="font-semibold"
            >{t(pageJson + ":contents.section2.text4")}</span
          >
          {t(pageJson + ":contents.section2.text5")}
        </p>
      </div>
      <!--Section3-->
      <div class="mb-8 text-[0.875rem] text-text-primary leading-[1.75rem]">
        <p>
          <span class="font-semibold"
            >{t(pageJson + ":contents.section3.text1")}</span
          >
          {t(pageJson + ":contents.section3.text2")}
        </p>
      </div>
      {
        i18next.language === "cn" && (
          <div class="mb-8 text-[0.875rem] text-text-primary leading-[1.75rem]">
            {t(pageJson + ":contents.section4.text1")}
          </div>
        )
      }
      <div class="mb-16 flex justify-center">
        <BackBtn />
      </div>
    </main>
  </div>
</Layout>
