---
import i18next, { t, changeLanguage } from "i18next";
import { utilGetCurrentLanguage } from "@helpers/commonUtils";
import { getCollection, getEntryBySlug } from "astro:content";
//components
import ArticleLayout from "@layouts/pages/articles/ArticleLayout.astro";
import BackBtn from "@components/theme/BackBtn.astro";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";
import type { CollectionEntry } from "astro:content";

changeLanguage("en");

export async function getStaticPaths() {
    let solutionsEntries = await getCollection("solutions");
    solutionsEntries = solutionsEntries.filter((solutionEntry) => solutionEntry.slug.includes(i18next.language));
    return solutionsEntries.map((solution) => {
        const solutionSlug = solution.slug.split("/").pop();
        return {
            params: {
                articleName: solutionSlug,
            },
            props: { solutionSlug },
        };
    });
}
type Props = {
    solutionSlug: string;
};
const { solutionSlug } = Astro.props as Props;
const solution = (await getEntryBySlug("solutions", `${i18next.language}/${solutionSlug}`)) as CollectionEntry<"solutions">;
const page: PageMetaTag = {
    title: solution.data.title,
    description: solution.data.pageDescription,
    author: solution.data.pageAuthor,
    keywords: solution.data.pageKeywords,
};
const openGraph: OpenGraphMetaTag = {
    title: solution.data.ogTitle,
    type: solution.data.ogType,
    image: solution.data.ogImage,
    description: solution.data.ogDescription,
};
const twitter: TwitterMetaTag = {
    cardType: solution.data.twitterCardType,
    title: solution.data.twitterTitle,
    description: solution.data.twitterDescription,
    image: solution.data.twitterImage,
};
const { Content } = await solution.render();
let solutionsEntries = (await getCollection("solutions"))
    .filter((solutionEntry: CollectionEntry<"solutions">) => solutionEntry.data.lang == i18next.language)
    .sort((entry1, entry2) => {
    const date1 = new Date(entry1.data.pubDate) as any;
    const date2 = new Date(entry2.data.pubDate) as any;
    return date1 - date2;
});
let currentEntryIndex = solutionsEntries.findIndex((solutionEntry) => solutionEntry.data.articleName == solution.data.articleName);
let previousEntry = currentEntryIndex - 1 > -1 ? [solutionsEntries[currentEntryIndex - 1]] : [];
let nextEntry = currentEntryIndex + 1 < solutionsEntries.length
    ? [solutionsEntries[currentEntryIndex + 1]]
    : [];
---

<ArticleLayout
  page={page}
  openGraph={openGraph}
  twitter={twitter}
  bannerImage={solution.data.bannerImage!}
  entry={solution}
  articleCategory="customer-center"
>
  <Content />
  <!--Suggestion for articles here -->
  <div class="border-t-[1px] border-solid border-[#ccc] mt-16"></div>
  <div class="flex flex-row justify-between mt-10">
    <div class="flex flex-row">
      {
        () => {
          if (previousEntry.length == 1)
            return (
              <>
                <div class="h-fit text-[0.875rem] border-[1px] border-solid border-[#ddd] rounded-full py-[0.3125rem] px-[0.875rem]">
                  {t("common:previous")}:
                </div>
                <a
                  href={`${utilGetCurrentLanguage(
                    Astro.url.pathname
                  )}/customer-center/solutions/${
                    previousEntry[0].data.articleName
                  }/`}
                  class="h-fit max-w-[400px] text-[0.875rem] border-[1px] border-solid border-[#ddd] rounded-full text-[#337ab7] py-[0.3125rem] px-[0.875rem] hover:bg-[#eee] hover:text-[#23527c] focus:text-[#23527c]"
                >
                  {previousEntry[0].data.title}
                </a>
              </>
            );
        }
      }
    </div>
    <div class="flex flex-row">
      {
        () => {
          if (nextEntry.length == 1)
            return (
              <>
                <a
                  href={`${utilGetCurrentLanguage(
                    Astro.url.pathname
                  )}/customer-center/solutions/${
                    nextEntry[0].data.articleName
                  }/`}
                  class="h-fit max-w-[400px] text-[0.875rem] border-[1px] border-solid border-[#ddd] rounded-full text-[#337ab7] py-[0.3125rem] px-[0.875rem] hover:bg-[#eee] hover:text-[#23527c] focus:text-[#23527c]"
                >
                  {nextEntry[0].data.title}
                </a>
                <div class="h-fit text-[0.875rem] border-[1px] border-solid border-[#ddd] rounded-full py-[0.3125rem] px-[0.875rem]">
                  {t("common:next")}:
                </div>
              </>
            );
        }
      }
    </div>
  </div>
  <div class="mb-16 flex justify-center">
    <BackBtn />
  </div>
</ArticleLayout>
