---
import { Img } from "astro-imagetools/components";
type Props = {
  bannerImageSrc: string;
  bannerHeight: string;
  trueImage: boolean | null;
  trueImageStyle: string | null;
};

const { bannerImageSrc, bannerHeight, trueImage, trueImageStyle } = Astro.props;
---

<!-- {
  () => {
    if (!trueImage) {
      return (
        <BackgroundImage format={["webp"]}>
          <div style={`height:${bannerHeight};`} />
        </BackgroundImage>
      );
    } else {
      return (
        <section
          style={`height:${bannerHeight}; background-image:url('${bannerImageSrc}'); ${trueImageStyle} `}
        />
      );
    }
  }
} -->
<div class="h-32 md:h-48">
  <Img breakpoints={[1920]} layout="fill" src={bannerImageSrc} alt="" />
</div>
