---
import navigationJson from "@data/navigation.json";
import { utilNormalizeUrl } from "@helpers/commonUtils";
import i18next, { t } from "i18next";

type Props = {
  name: string;
};
const { name } = Astro.props as Props;

const url = utilNormalizeUrl(Astro.url.pathname);
const pathname = url.split("/").splice(0, i18next.language !== "cn" ? 3 : 2);

const subLinks =
  navigationJson.links.find((link) => link.name === name)?.children ?? [];
const subNavs = subLinks.map((link) => {
  return {
    label: t(`links:${link}`),
    href: `${pathname.join("/")}/${link}`,
  };
});
---

<inner-sub-nav class="sticky top-0 z-[2]">
  <!-- Mobile -->
  <div class="md:hidden">
    <header class="relative z-[1] bg-p600 justify-between flex py-2 px-4">
      <h2 class="text-white">{t("common:column-categories")}</h2>
      <button
        aria-label="Show/Hide Inner Navigation"
        class="relative w-4 justify-center items-center"
      >
        <div
          data-inner-sub-nav-icon
          class="h-4 w-1 rounded-lg bg-white mx-auto duration-500 rotate-90"
        >
        </div>
        <div
          class="h-1 rounded-lg bg-white absolute w-full top-1/2 -translate-y-1/2"
        >
        </div>
      </button>
    </header>
    <section
      data-inner-sub-nav-mobile
      class="grid grid-rows-[1fr] duration-500 px-4 py-4 border-b-2 rounded-b-md"
    >
      <ul class="list-disc list-inside overflow-hidden">
        {
          subNavs.map((link) => {
            return (
              <li>
                <a class="text-p600" href={link.href}>
                  {link.label}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </div>

  <!-- Desktop -->
  <div
    class="hidden mt-4 bg-[url('/images/inner-subnav/e2.jpg')] border-[1px] border-[#009ce0] border-solid md:block"
    style=""
  >
    <ul class="p-2 bg-white ml-4 flex flex-row flex-wrap">
      {
        subNavs.map((subNav) => {
          return (
            <li class="p-1">
              <a
                class={`px-4 py-2 text-[#777] rounded-[4px] text-[0.875rem] ${
                  url.includes(subNav.href)
                    ? "bg-[#009ce0] text-white"
                    : "bg-white"
                } block font-semibold hover:bg-[#009ce0] hover:text-white`}
                href={subNav.href}
              >
                {subNav.label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</inner-sub-nav>

<script>
  class InnerSubNav extends HTMLElement {
    constructor() {
      super();

      const mobileIcon = this.querySelector("[data-inner-sub-nav-icon]")!;
      const button = this.querySelector("button")!;
      const section = this.querySelector("[data-inner-sub-nav-mobile]")!;

      button.addEventListener("click", () => {
        mobileIcon.classList.toggle("rotate-90");
        section.classList.toggle("py-4");
        section.classList.toggle("-translate-y-2");
        section.classList.toggle("grid-rows-[1fr]");
        section.classList.toggle("grid-rows-[0fr]");
      });
    }
  }

  customElements.define("inner-sub-nav", InnerSubNav);
</script>
