---
import { Img } from "astro-imagetools/components";
import type { MarqueeImage } from "@customTypes/marquee/types";
import {utilGetCurrentLanguage} from "@helpers/commonUtils";
const { images } = Astro.props;
const speed: number = 1;
const width: number = 190;
const height: number = 140;
---

<div class="marquee flex flex-row overflow-hidden">
  {
    Array.from({length:2}).map((_)=>{
      return(
        <>
        <ul class="flex flex-row ">
          {
            images.map((image: MarqueeImage) => {
              return (
                <li>
                  <a href={utilGetCurrentLanguage(Astro.url.pathname)+image.href} class="block m-4">
                    <figure class="p-[5px] bg-white drop-shadow-md  border-[1px] border-solid border-[#f1f1f1] w-[190px] transition-all duration-300 hover:border-[#d7d7d7] hover:drop-shadow-lg">
                      <Img src={image.src} alt={image.alt} {height} {width} />
                      <figcaption class="block w-full text-center py-4">
                        {image.label}
                      </figcaption>
                    </figure>
                  </a>
                </li>
              );
            })
          }
        </ul>
        </>
      )
    })
  }
  
</div>
<style>
  .marquee ul {
    -moz-animation: scroll-left 60s linear infinite;
    -webkit-animation: scroll-left 60s linear infinite;
    animation: scroll-left 60s linear infinite;
  }
  .marquee:hover ul{
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  } 
  @-moz-keyframes scroll-left {
      0% {
          -moz-transform: translateX(0);
      }
      100% {
          -moz-transform: translateX(-100%);
      }
  }
  
  @-webkit-keyframes scroll-left {
      0% {
          -webkit-transform: translateX(0);
      }
      100% {
          -webkit-transform: translateX(-100%);
      }
  }
  
  @keyframes scroll-left {
      0% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
      100% {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
      }
  }
</style>