---
import i18next, { t, changeLanguage } from "i18next";
//components
import Layout from "@layouts/Layout.astro";
import InnerSubNav from "@components/theme/InnerSubNav.astro";
import Banner from "@components/theme/Banner.astro";
import BreadCrumbs from "@components/theme/BreadCrumbs.astro";
import BackBtn from "@components/theme/BackBtn.astro";
import { Img } from "astro-imagetools/components";
//data types
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";

changeLanguage("cn");

const metaTagRef = "meta-tags:enterprise-culture";
const pageJson = "page-about-sublink-enterprise-culture";
const page: PageMetaTag = {
    title: t(`${metaTagRef}:pageTitle`),
    description: t(`${metaTagRef}:pageDescription`),
    keywords: t(`${metaTagRef}:pageKeywords`),
};
const openGraph: OpenGraphMetaTag = {
    title: t(`${metaTagRef}:ogTitle`),
    description: t(`${metaTagRef}:ogDescription`),
};
const twitter: TwitterMetaTag = {
    title: t(`${metaTagRef}:twitterTitle`),
    description: t(`${metaTagRef}:twitterDescription`),
};
const bannerImageSrc = t(pageJson + ":bannerImageSrc");
const bannerHeight = "200px";
const trueImage = Boolean(t(pageJson + ":trueImage") ?? "false");
const trueImageStyle = t(pageJson + ":trueImageStyle");
---

<Layout page={page} openGraph={openGraph} twitter={twitter}>
  <Banner
    bannerImageSrc={bannerImageSrc}
    bannerHeight={bannerHeight}
    trueImage={trueImage}
    trueImageStyle={trueImageStyle}
  />
  <div class="container mx-auto w-full md:w-11/12 lg:w-10/12">
    <InnerSubNav name="about" />
    <div class="mb-6">
      <BreadCrumbs label={t(pageJson + ":name")} />
    </div>
    <main>
      <section>
        <div class="w-full flex justify-between">
          <div class="w-7/12 text-text-primary text-[0.875rem] space-y-6">
            <p class="">
              {t(pageJson + `:contents.text1`)}
            </p>
            <p class="text-[1.125rem] text-black font-semibold">
              {t(pageJson + `:contents.text2`)}
            </p>
            <p class="text-[1.125rem] text-black font-semibold">
              {t(pageJson + `:contents.text3`)}
            </p>
            <p>
              <span class="text-base text-black font-semibold"
                >{t(pageJson + ":contents.text4")}</span
              >
              <span class=`${i18next.language==="en"? "font-semibold":""}`
                >{t(pageJson + ":contents.text5")}</span
              >
            </p>
          </div>
          <div class="w-4/12 scale-[1] duration-300 z-[1] hover:scale-[0.90]">
            <Img
              src={t(pageJson + ":contents.image1.src")}
              alt={t(pageJson + ":contents.image1.alt")}
            />
          </div>
        </div>
      </section>
      <div class="mb-16 flex justify-center">
        <BackBtn />
      </div>
    </main>
  </div>
</Layout>
